.svg-arr_down-dims {
	width: 10px;
	height: 19px;
}

.svg-arr_top-dims {
	width: 10px;
	height: 19px;
}

.svg-arrow-dims {
	width: 45px;
	height: 23px;
}

.svg-arsstrom-dims {
	width: 97px;
	height: 26px;
}

.svg-busket-dims {
	width: 22px;
	height: 22px;
}

.svg-cart-dims {
	width: 22px;
	height: 22px;
}

.svg-doc-dims {
	width: 39px;
	height: 49px;
}

.svg-dorohov-dims {
	width: 107px;
	height: 36px;
}

.svg-mail-dims {
	width: 18px;
	height: 14px;
}

.svg-minus-dims {
	width: 20px;
	height: 4px;
}

.svg-modal_close-dims {
	width: 14px;
	height: 14px;
}

.svg-pag_next-dims {
	width: 13px;
	height: 24px;
}

.svg-pag_prev-dims {
	width: 14px;
	height: 24px;
}

.svg-phone-dims {
	width: 17px;
	height: 17px;
}

.svg-plus-dims {
	width: 20px;
	height: 20px;
}

.svg-search-dims {
	width: 21px;
	height: 21px;
}

.svg-user-dims {
	width: 22px;
	height: 22px;
}

