.container {
    max-width: #{1560px + 60px};
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

#overlay {
    width: 100vw;
    height: calc(100vh - 100px);
    position: fixed;
    left: 0;
    top: 100px;
    cursor: pointer;
    background: rgba(#000, .5);
    z-index: 999999999;
    display: none;
    @media (max-width: $resp1200) {
        height: calc(100vh - 70px);
        top: 70px;
    }
}

.btn {
    padding: 20px 75px;
    background: $orange;
    border: 5px solid $orange;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-family: 'BravoSC';
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #fff;
    transition: .25s all ease;
    display: inline-block;
    &:hover {
        background: transparent;
        color: $orange;
    }
    &.is--basket {
        padding: 15px 30px;
        svg {
            fill: #fff;
            width: 17px;
            height: 17px;
            transition: .25s all ease;
            margin-right: 5px;
        }
        &:hover {
            svg {
                fill: $orange;
            }
        }
        @media (max-width: $resp1200) {
            padding: 10px 20px;
        }
    }
    @media (max-width: $resp1200) {
        padding: 10px 35px;
    }
}

.slide {
    padding-top: 110px;
    padding-bottom: 140px;
    @media (max-width: $resp1025) {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

.page {
    padding-top: 65px;
    padding-bottom: 120px;
    @media (max-width: $resp1025) {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

.heading {
    margin-bottom: 50px;
    &__text {
        font-family: 'BravoSC';
        color: #1B1B1B;
        font-size: 72px;
        line-height: 92%;
        @media (max-width: $resp1200) {
            font-size: 36px;
        }
    }
    &__sub {
        font-size: 18px;
        color: #1B1B1B;
        padding-top: 20px;
    }
}